*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
}
.grid{
    width: 400px;
    height:  300px;
    border: 1px solid black;
}